{% extends 'apply/base.html' %}
{% block content %}

<style>
    .paragraph{
        padding: 0 5%;
        max-width: 1000px;
        line-height:1.9em;
    }

    .a-yellow{
    color:#f09837;
    text-decoration: none !important
    }

    .a-yellow:hover {
    color: #8a551d;
    text-decoration:none
  }

    .sign{
            margin: 30px 5% 30px 0;
    }

    @media (max-width: 600px){
        .container{
            padding-left: 20px;
            padding-right: 20px;
        }
        .container h3{
            margin-left: 9px;
            font-size: 25px !important;
        }
        .paragraph{
            padding: 0 7px;
            font-size: 16px !important;
        }

    }
</style>

<div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
    <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#ff8f66;"> 성공회대학교</span></h3>
    <h4 style="font-weight: bold; color:#707070;">2020 상반기 리크루팅</h4>
    <h4 style="font-weight: bold; color:#707070;">FAQ</h4>
    <div class="border-bottom mr-5" style="max-width: 600px; height: 10px;"></div>
</div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 지원 일정을 알려주세요!</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            성공회대학교 멋쟁이 사자처럼 지원은 3월 18일부터 시작됩니다!<br>

            <br>
            · 3.18 - 26    지원서 접수<br>
            · 3.28         서류합격 발표<br>
            · 3.28 - 29    면접 일정 조정<br>
            · 3.30 - 31    면접<br>
            · 4.1          최종 합격발표<br>
            · 4.3          OT 및 첫 세션<br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 지원 자격이 어떻게 되나요?</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            <b>첫째,</b> 개인 노트북을 소지하신 분 <br>
            · 실습 및 프로젝트를 위한 개인 노트북은 필수입니다.<br><br>
            <b>둘째,</b> 기간 내 활동이 가능한 분<br>
            · 2020년 3월부터 12월까지 저희는 쉬지않고 달립니다.<br>
            저희의 커리큘럼은 1년 단위로 짜여 있어  활동 기간 내 어학연수나 장기 여행 계획이 있다면 아쉽지만 저희와 함께 하실 수 없습니다.<br><br>
            <b>셋째,</b> 스터디 참석이 가능한 분<br>
            · 성공회대학교 멋쟁이 사자처럼의 스터디는
            <b>매주</b> 화요일 7시부터 9시, 금요일 6시부터 8시입니다.<br>
            강의 시간은 강의 내용에 따라 조금씩 변경 될 수 있습니다.<br><br>
            <b>넷째,</b> 중요 행사 참여가 가능한 분<br>
            · 중앙 OT / 교내MT / 해커톤 등의 중요 공식 행사에 참여하실 수 있으셔야 합니다.
            중요 행사에 대한 일정은 추후에 공지하겠습니다.
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 활동 일정은 어떻게 되나요?</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            학기 중에는 매주 <b>화요일</b> / <b>금요일</b>에 정규 세션이 준비되어 있습니다.<br>
            방학 중에는 실제로 아이디어를 구현하는 팀 프로젝트와 중간 발표가 있을 예정이며,<br>
            9월 말에는 중앙 해커톤 등 프로젝트와 관련된 각종 행사가 진행됩니다.<br>
            자세한 행사 및 활동 개요는 이후 업데이트를 참고해주시기 바랍니다.<br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 저는 프로그래밍 하나도 모르는데요!</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            멋쟁이사자처럼은 기본적으로 <b>웹 프로그래밍에 대해 아무것도 모르는 비전공자</b>를 가정하고 모든 수업 자료와 세션을
            구성하고 있습니다.<br>
            따라서 코딩을 한번도 해보지 못한 입문자도 충분히 따라올 수 있으며 코딩 실력은 평가 기준에 
            반영되지 않으니 고민하지 않으셔도 좋습니다.<br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 지원 전에 따로 준비할 게 있을까요?</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            최종합격자에 한해 첫 세션 참석 전 학습 과제가 부여될 수 있습니다.<br>
            선발 과정에서 프로그래밍과 관련된 평가는 이루어지지 않으며 자신이 만들고 싶은 아이디어에 대한 <br>
            서류&면접 평가가 강화되니 이 점 참고하셔서 지원을 준비해주시기 바랍니다.<br>
        </p>
        <br>
    </div>
    <br>
    <br>

<div class="sign text-right">
        <p style="font-size: 17px; line-height:1.7em;">
        문의사항은 멋쟁이사자처럼 성공회대학교<br>
        공식 계정과 이메일을 이용해주시기 바랍니다.<br><br>
        <img style="width: 30px; height: 30px;" src="https://t1.daumcdn.net/cfile/tistory/994EAB4F5D2565432F" > <a class="a-yellow" href="https://www.facebook.com/SkhuLion" style="font-size: 18px; font-weight: bold; ">Facebook</a>
        <img style="width: 30px; height: 30px;" src="https://t1.daumcdn.net/cfile/tistory/99B6AB485D09F2132A"> <a class="a-yellow" href="https://www.instagram.com/likelion_skhu/" style="font-size: 18px; font-weight: bold;">Instagram</a>
        <br>
        </p>
        <b><a class="a-yellow" style="font-size: 17px;" href="{% url 'home' %}">돌아가기</a></b>  
</div>

{% endblock %}